{% extends 'portfolio/layout.html' %}

{% block main %}
	<h3 class="titulo">Trabalhos Finais de Curso</h3>

<div class="containerTfc">
    {% for escolhido in tfc %}
        <div>
    <p style="color: white">
   Titulo : {{escolhido.autores }}.
    </p>
        <p style="color: white">
   Titulo : {{escolhido.orientadores }}.
    </p>
            <p style="color: white">
   Ano : {{escolhido.ano }}.
    </p>
            <p style="color: white">
   Titulo : {{escolhido.titulo }}.
    </p>
            <p style="color: white">
   Titulo : {{escolhido.resumo }}.
    </p>
<div>
            <img src="{{ escolhido.imagem.url }}" alt="">
</div>










 </div>




    {% endfor %}
</div>
{% endblock main%}
