

{% extends 'portfolio/layout.html' %}

{% block main %}
	<h3 style="color:white">Blog</h3>

    <a class="rright" href="{% url 'portfolio:nova' %}" style="justify-content: center;align-items: center; width: 15%;left: 42%; background-color: cornflowerblue">Criar Post</a>
<div class="container">
    {% for posts in post %}
        <div>
    <p style="color: white">
    Autor: {{posts.autor }}.
    </p>

        <p style="color: white">
       Titulo: {{ posts.titulo }}.
        </p>


        <p style="color: white">
        Descrição: {{ posts.descricao }}.
        </p>
         <a class="rright" href="{% url 'portfolio:edita' posts.id %}" style=" width: 15%;float: right;margin-bottom: 100px ;margin-top: 0px; background-color: cornflowerblue">Edita Post</a>
 </div>



    {% endfor %}
</div>
{% endblock main%}

