

{% extends 'portfolio/layout.html' %}

{% block main %}
	<h3>Apresentacao</h3>
    <p>texto texto texto texto texto texto texto </p>
    <a href="{% url 'portfolio:nova' %}" >Criar Post</a>
<div class="container">
    {% for posts in post %}
        <div>
    <p >
    {{posts.autor }}
    </p>

        <p >
        {{ posts.titulo }}
        </p>


        <p >
        {{ posts.descricao }}
        </p>
 </div>

        <a href="{% url 'portfolio:edita' posts.id %}" style="color: white">Edita Post</a>

    {% endfor %}
</div>
{% endblock main%}

