<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport"  content="width=device-width,initial-scale=1.0
">
    <title>Title</title>
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/estilos.css'%}"/>

    {% block style %}{% endblock style %}

</head>
<body class="background">
    <header>
        <div class="textChange">Daniel Granja</div>
        <nav class="right" >
            <a class="rright" href="{% url 'portfolio:home' %}">Home</a>
            <a class="rright" href="{% url 'portfolio:licenciatura' %}">Licenciatura</a>
            <a class="rright" href="{% url 'portfolio:apresentação' %}">Apresentação</a>
            <a class="rright" href="{% url 'portfolio:formação' %}">Formação</a>

            <a class="rright" href="{% url 'portfolio:projetos' %}">Projetos</a>
            <a class="rright" href="{% url 'portfolio:blog' %}">Blog</a>
            <a class="rright" href="{% url 'portfolio:quizz' %}">Quizz</a>
             <a class="rright" href="{% url 'portfolio:contacto' %}">Contacto</a>
             <a class="rright" href="{% url 'portfolio:web' %}">Web</a>


        </nav>

    </header>

        <main>
            {% block main %}
            {% endblock main %}
        </main>



    <footer >
        <div>
            ULHT : 2022
        </div>
    </footer>
</body>
</html>