{% extends 'portfolio/layout.html' %}

{% block main %}
    <h3 class="titulo">Licenciatura</h3>
    <div class="containerFormacao">


        <p class="tituloAnos">1º Ano || 1 Semestre</p>
        {% for cadeira in cadeiras %}
            {% if cadeira.ano == 1 and cadeira.semestre == 1 %}


                <div>
                    <p style="color: white">
                        Nome: {{ cadeira.nome }}.
                    </p>
                    <p style="color: white">
                        Ano: {{ cadeira.ano }}.
                    </p>

                    <p style="color: white">
                        Semestre: {{ cadeira.semestre }}.
                    </p>
                    <p style="color: white">
                        Ects: {{ cadeira.ects }}
                    </p>

                </div>
            {% endif %}
        {% endfor %}

        <p class="tituloAnos">1º Ano || 2ªSemestre</p>
        {% for cadeira in cadeiras %}
            {% if cadeira.ano == 1 and cadeira.semestre == 2 %}


                <div>
                    <p style="color: white">
                        Nome: {{ cadeira.nome }}.
                    </p>
                    <p style="color: white">
                        Ano: {{ cadeira.ano }}.
                    </p>

                    <p style="color: white">
                        Semestre: {{ cadeira.semestre }}.
                    </p>
                    <p style="color: white">
                        Ects: {{ cadeira.ects }}
                    </p>

                </div>
            {% endif %}
        {% endfor %}





        <p class="tituloAnos">2º Ano || 1 Semestre</p>
        {% for cadeira in cadeiras %}
            {% if cadeira.ano == 2 and cadeira.semestre == 1 %}


                <div>
                    <p style="color: white">
                        Nome: {{ cadeira.nome }}.
                    </p>
                    <p style="color: white">
                        Ano: {{ cadeira.ano }}.
                    </p>

                    <p style="color: white">
                        Semestre: {{ cadeira.semestre }}.
                    </p>
                    <p style="color: white">
                        Ects: {{ cadeira.ects }}
                    </p>

                </div>
            {% endif %}
        {% endfor %}


    <p class="tituloAnos">2ºAno || 2 Semestre</p>
        {% for cadeira in cadeiras %}
            {% if cadeira.ano == 2 and cadeira.semestre == 2 %}


                <div>
                    <p style="color: white">
                        Nome: {{ cadeira.nome }}.
                    </p>
                    <p style="color: white">
                        Ano: {{ cadeira.ano }}.
                    </p>

                    <p style="color: white">
                        Semestre: {{ cadeira.semestre }}.
                    </p>
                    <p style="color: white">
                        Ects: {{ cadeira.ects }}
                    </p>

                </div>


 {% endif %}
        {% endfor %}


                <p class="tituloAnos">3º Ano || 1 Semestre</p>

        {% for cadeira in cadeiras %}
            {% if cadeira.ano == 3 and cadeira.semestre == 1%}


                <div>
                    <p style="color: white">
                        Nome: {{ cadeira.nome }}.
                    </p>
                    <p style="color: white">
                        Ano: {{ cadeira.ano }}.
                    </p>

                    <p style="color: white">
                        Semestre: {{ cadeira.semestre }}.
                    </p>
                    <p style="color: white">
                        Ects: {{ cadeira.ects }}
                    </p>

                </div>

            {% endif %}
        {% endfor %}




     <p class="tituloAnos">3º Ano || 2 Semestre</p>

        {% for cadeira in cadeiras %}
            {% if cadeira.ano == 3 and cadeira.semestre == 2%}


                <div>
                    <p style="color: white">
                        Nome: {{ cadeira.nome }}.
                    </p>
                    <p style="color: white">
                        Ano: {{ cadeira.ano }}.
                    </p>

                    <p style="color: white">
                        Semestre: {{ cadeira.semestre }}.
                    </p>
                    <p style="color: white">
                        Ects: {{ cadeira.ects }}
                    </p>

                </div>

            {% endif %}
        {% endfor %}

    </div>
{% endblock main %}